@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

html, body {
    font-family: 'Roboto Mono', monospace;
    background: #212121;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.navbar {
    background-color: #333;
    padding: 14px 16px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between; /* Space between left and right sections */
    align-items: center; /* Vertically center the content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Ensure navbar is above other elements */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.flag {
    width: 25px; /* Adjust the size of the flag */
    height: auto;
    margin-right: 20px; /* Space between the flag and text */
}

.navbar-left span {
    color: #f2f2f2;
    font-size: 16px;
}

/* Navbar links */
.navbar-right a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

.navbar-right a:hover, .navbar-right a.active {
    background-color: #ddd;
    color: black;
}

.profile-picture-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align the content */
    margin-bottom: 20px; /* Space below the profile picture */
}

.profile-picture {
    width: 300px; /* Adjust the size of the profile picture */
    height: 300px;
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure the image covers the circle */
    margin-top: 20px; /* Add space above the image */
    box-shadow: -50px -50px 0 -40px var(--red), 50px 50px 0 -40px var(--red); /* Add shadow to restore frame effect */
}

.introduction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    min-height: 20px; /* Adjust height as needed */
    text-align: center; /* Center-align text within the container */
    margin: 0 auto; /* Center container horizontally */
    padding: 20px; /* Reduced padding for better readability */
    margin-top: -100px; /* Reduced space above the introduction */
}

.introduction {
    font-family: 'Roboto Mono', monospace; /* Different font for introduction */
    max-width: 800px; /* Limit the width for better readability */
    color: #FAFAFA; /* Set text color to white */
    font-size: 20px; /* Adjust font size for readability */
    text-align: center; /* Center the text */
    margin: 5px; /* Reduced margin for better spacing */
}

:root {
  --red: #4169E1;
  --bgColor: bisque;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin-top: 20px;
  height: 30vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  color: #ffffff;
  font-size: 20px; 
}

.effect-wrapper {
  text-align: center;
  font-weight: normal;
}

#typed {
  font-weight: bold;
  color: #4169E1;
}

.cursor {
  display: inline-block;
  background-color: #b0ff95;
  animation: blinker 900ms infinite;
}

.cursor.typing-true {
  animation: none;
}

@keyframes blinker {
  0% { background-color: #4169E1; }
  50% { background-color: transparent; }
  100% { background-color: #4169E1; }
}

/* Define a custom class for extra bold text */
.extra-bold { font-family: 'Montserrat', sans-serif; }

.social-links {
  display: flex;
  justify-content: center; /* Center-align the icons */
  margin-top: 80px; /* Add space above the icons */
  flex-wrap: wrap; /* Allow icons to wrap on small screens */
}

.social-icon {
  width: 45px; /* Adjust the size of the icons */
  height: 45px;
  margin: 10px; /* Space around the icons for better wrapping */
  transition: transform 0.3s; /* Add a transition effect */
}

.social-icon:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-right {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the links */
  }

  .navbar-right a {
    padding: 10px;
    font-size: 14px;
    width: 100%; /* Make links take full width */
    text-align: center; /* Center align text */
  }

  .profile-picture {
    width: 200px; /* Adjust the size of the profile picture */
    height: 200px;
  
  }

  .introduction {
    font-size: 18px; /* Adjust font size for smaller screens */
  margin-bottom: 100px;
    margin-top: 20px;
  }

  .social-links {
    margin-top: 20px; /* Reduce space above icons */
  }

  .social-icon {
    width: 35px; /* Adjust the size of the icons */
    height: 35px;
  }

}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-left, .navbar-right {
    width: 100%;
    justify-content: center;
    padding: 10px;
  }

  .profile-picture {
    width: 200px; /* Adjust the size of the profile picture */
    height: 200px;
    
  }

  .introduction {
    font-size: 16px; /* Adjust font size for smaller screens */
    margin-bottom: 25px;
    margin-top: 250px;
  }

  .social-icon {
    width: 30px; /* Adjust the size of the icons */
    height: 30px;
  }
  
}

